.DS_Store
Thumbs.db
desktop.ini
.git/


.vscode/
.idea/
*.sublime-*


*.log
*.tmp
*.temp
*.bak


.env

.secrets
*.key
*.crt
__pycache__/
node_modules/
*.pyc
Project/frontend/dist/
dist/
build/
data/
certbot/www/
Nginx_default/data/
Nginx_default/certbot/www/
Project/data/
Project/certbot/www/